<section class="block container">
    <header class="block__header">
        <h2 class="block__heading">Heading</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis in corrupti dolorums.</p>
    </header>
    <div style="width: 30%; padding: 4rem;">
        <div class="card card--secondary">
            <header class="card__header">Card Title</header>
            <div class="card__body">
                Lorem ipsum dolor sit amet . Explicabo, molestias?
            </div>
        </div>
    </div>
</section>
<section class="block block--dark  block--skewd--left">
    <h2 class="block__heading">Heading</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis in corrupti dolorum. Ullam dolorem voluptas, provident labore accusantium praesentium necessitatibus.</p>
</section>