<div class="collapsible collapsible__expanded">
    <header class="collapsible__header">
        <h2 class="collapsible__heading">Item 1</h2>
            <svg class="icon collapsible__menu">
                <use xlink:href="images/sprite.svg#chevron">

                </use>
              </svg>
    </header>
    <div class="collapsible__content">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Hic quaerat ipsam quod!
    </div>
</div>
<div class="collapsible collapsible__expanded">
    <header class="collapsible__header">
        <h2 class="collapsible__heading">Item 1</h2>
            <svg class="icon collapsible__menu">
                <use xlink:href="images/sprite.svg#menu">

                </use>
              </svg>
    </header>
    <div class="collapsible__content">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Hic quaerat ipsam quod!
    </div>
</div>
<script src="js/main.js"></script>