<footer class="block block--dark footer">
    <div class="container grid footer__sections">
        <section class="collapsible collapsible__expanded footer__section">
            <header class="collapsible__header">
                <h2 class="collapsible__heading footer__heading">Hosting</h2>
                <svg class="icon icon--white collapsible__menu">
                    <use xlink:href="images/sprite.svg#menu">
                    </use>
                  </svg>
            </header>
            <div class="collapsible__content">
                <ul class="list">
<li class="list__item"><a href="#">Hosting</a></li>
<li class="list__item"><a href="#">Uses</a></li>
<li class="list__item"><a href="#">Pricing</a></li>
</ul>
            </div>
        </section>
        <section class="collapsible  footer__section">
            <header class="collapsible__header">
                <h2 class="collapsible__heading footer__heading">Uses</h2>
                <svg class="icon icon--white collapsible__menu">
                    <use xlink:href="images/sprite.svg#menu">
                    </use>
                  </svg>
            </header>
            <div class="collapsible__content">
                <ul class="list">
                <li class="list__item"><a href="#">Hosting</a></li>
                <li class="list__item"><a href="#">Uses</a></li>
                <li class="list__item"><a href="#">Pricing</a></li>
                
                </ul>
            </div>
        </section>
        <section class="collapsible  footer__section">
            <header class="collapsible__header">
                <h2 class="collapsible__heading footer__heading">Pricing</h2>
                <svg class="icon icon--white collapsible__menu">
                    <use xlink:href="images/sprite.svg#menu">
                    </use>
                  </svg>
            </header>
            <div class="collapsible__content">
                <ul class="list">
<li class="list__item"><a href="#">Hosting</a></li>
<li class="list__item"><a href="#">Uses</a></li>
<li class="list__item"><a href="#">Pricing</a></li>
</ul>
            </div>
        </section>
        <section class="footer__brand">
            <img src="./images/logo.svg" alt="">
            <p class="footer__copyright">Copyright Sane 2022 Service Apply</p>
        </section>
    </div>
</footer>

<script src="js/main.js"></script>