<section class="block block--dark block--skewd--left hero">
    <div class="container grid grid--1x2">
        <header class="block__header hero__content">
            <h1 class="hero__heading">Cloud Hosting Pros</h1>
            <p class="hero__tagline">Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque, dolores.</p>
            <a href="#" class="btn btn--accent btn--stretched">Start</a>
        </header>
        <img class="hero___img" src="images/banner.png" alt="">
    </div>  
</section> 