<div class="media">
    <div class="media__image">
        <svg class="icon icon--secondary">
            <use xlink:href="images/sprite.svg#snap"></use>
        </svg>

    </div>
    <div class="media__body">
        <h3 class="media__title">Esay Strat & Managed Update</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore sit illum corrupti itaque officia? Sapiente deserunt sed libero ex quae cupiditate laborum maiores laboriosam suscipit doloremque? Nesciunt atque placeat velit, accusantium ipsum optio sint aliquam!</p>
        
    </div>

</div>