<blockquote class="quote">
    <p class="quote__text">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam qui iure quo vel totam! Quaerat nihil alias officia pariatur veniam quidem, maxime nesciunt numquam blanditiis enim, est omnis non ratione dolor nulla ipsa officiis odio animi, natus minima recusandae neque? Commodi vel facere eius dolor corporis, explicabo nobis a praesentium?.</p>
        <footer>
            <div class="media">
                <div class="media__image">
                    <svg class="icon icon--secondary quote__icon">
                        <use xlink:href="images/sprite.svg#line"></use>
                    </svg>
            
                </div>
                <div class="media__body">
                    <h3 class="media__title quote__author">Ben Smith</h3>
                    <p class="quote__company">BEN TEN COMPANY</p>
                    
                </div>
            
            </div>
        </footer>
</blockquote>